body{
    font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}
.login-bg{
    background: url("img/login_img.jpg") center no-repeat;
    height: 540px;
    width: 100%;
}
.login-container{
    height: 500px;
    width: 100%;
    position: relative;
}
.login-panel{
    background: rgba(255,255,255,.9);
    position: absolute;
    right: 30px;
    top: 20%;
    width: 300px;
    padding: 25px 25px 40px;
    border: 1px solid #f7f7f7;
}
#login-form{
    margin-top: 20px;
}
#login-form input{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border:1px solid #f7f7f7;
    height: 30px;
}
#login-form label{
    display: block;
}
#checkcode-btn{
    margin-bottom: 10px;
    border: none;
    background: #449d44;
    color: white;
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
}
#login-btn{
    padding: 5px 0;
    border-radius: 5px;
    background: #449d44;
    border: none;
    color: white;
    font-size: 18px;
    height: inherit !important;
}
#logout-btn{
    padding: 5px;
    font-size: 18px;
    margin: 20px 0 5px 0;
    width: 100%;
    background: #449d44;
    border: none;
    border-radius: 5px;
    color: white;
}
#login-form .checked{
    cursor:not-allowed;
    background: grey;
}
.app-nav{
    background-color: #fff;
    /*border-color: #e3e3e3;*/
    animation-fill-mode:forwards;
    opacity: 0.95;
    margin-bottom: 0;
    border-top:none;
    border-bottom: 1px #2b542c solid;
}
.top-bar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}

.search-container{
    position: relative;
    display: none;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.search-content{
    width: 105%;

    position: absolute;
    top: 5px;
    left: -2.5%;
    text-align: center;
    padding: 10px 10px;
    background: white;
    opacity: 0.90;
}

#search-input{
    padding-left: 1%;
    width: 92%;
    float: left;
}
#search-btn{
    width: 3%;
    padding-top: 8px;
    padding-left: 1%;
    border: none;
    background: none;
}
#search-remove{
    width: 3%;
    padding-top: 10px;
    padding-left: 1%;
}

.navbar > .container .navbar-brand {
    margin-top:-8px;
    color: #333;
    font-size: 20px;
}

.navbar .container ul li a{
    color: #333333;
    font-size: 16px;
}
.navbar .container ul li a:hover{
    color: black;
}

.app-navbar-list > .app-active{
    background: #2b542c ;
}
.app-navbar-list > .app-active > a{
    color: white !important;
}

.btn-red{
    background: darkred;
    color: white;
}

.btn-red:hover{
    background: #9b0000;
    color: white;
}

.app-navbar-list li a{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 15px;
    margin-left: 15px;
    border-bottom: transparent 2px solid;
}
.app-navbar-list li a:hover{
    border-bottom: #2b542c 2px solid;
}
.app-main{
    background: #fff;
}

.app-main-content{

    height: 820px;
    background: white url("img/main_ok.jpg") no-repeat right ;
    /*background-size:100%;*/
}

.app-main-content-in{
    padding-top: 100px;
    font-size: 60px;
    /*color: wheat;*/
    text-align: center;
}

.app-main-showtext{
    animation-delay: 1s;
}


.app-line-img{
    margin-top: 20px;
    height:300px;
    margin-bottom: 40px;
    -webkit-border-radius:5%;
    -moz-border-radius:5%;
    border-radius:5%;
}
.app-line{

}
.app-line-text{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}
.center{
    margin:0 auto;
    text-align: center
}

.wide-container{
    margin: 0 auto;
}

@media (min-width: 1480px) {
    .wide-container{
        width: 1440px;
    }
}

@media (max-width:1479px) and (min-width: 1240px) {
    .wide-container{
        width: 1200px;
    }
}
@media (max-width: 1239px) and (min-width: 1000px) {
    .wide-container{
        width: 960px;
    }
}
@media (max-width: 999px) and (min-width: 760px) {
    .wide-container{
        width: 720px;
    }
}
@media (max-width: 759px) and (min-width: 580px) {
    .wide-container{
        width: 540px;
    }
}
.what-header{
    position: relative;
    background: url("img/main_ok.jpg") 100%;
    background-size: 100%;
}
.what-header .what-shadow{
    background: rgba(30,144,255,0.7);
    padding-top: 20px;
    padding-bottom: 20px;
}

.what-header h2{
    color: white;
}
.what-header .text-container{
    color: white;
    font-size: 18px;
    padding: 10px 0;
}
.what-row{
    position: relative;
    height: 350px;
}

.what-row > .content-container{
    position: absolute;
    top: 0;
    width: 100%;
}

.what-section > .img-container{
    overflow: hidden;
}

.what-section > .img-container > img{
    height: 350px;
}

.what-color-section{
    width: 50%;
    height: 350px;
    float: left;
}


#what-color-2{
    background: #121212;
}
#what-color-1 {
    background: #d58512;

}

#what-color-3 {
    background: #121212;
}
#what-color-4 {
    background: #323232;
}
.what-section{
    float: left;
    width: 33.3%;
    position: relative;
    padding: 0;
}
.what-section .text-container{
    text-align: center;
    line-height: 350px;
    color: white;
    font-size: 20px;
}
.shadow-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(100,100,100,1);
    opacity: 0;
    text-align: center;
}
.shadow-container h2{
    margin-top: 100px;
    margin-bottom: 20px;
    color: white;
}
.shadow-container p{
    color: white;
    font-size: 16px;
    margin: 0 0 5px;
}
.shadow-container:hover{
    opacity: 1;
    background: rgba(100,100,100,0.5)
}

.app-more{
    padding: 70px 0 80px;
    background: beige;
}
.app-more .container .col-md-2{
    text-decoration: none;
    color: grey;
}
.app-more h4{
    text-align: center;
}

.app-more p{
    margin: 25px 20px 15px;

}
.app-more i{
    margin-bottom: 20px;
}

.more-center{
    border-right: 1px #777 solid;
    border-left: 1px #777 solid;
}


.app-customer{
    background: linear-gradient(154deg, #3c763d 0%,#2b542c 100%);
    padding-bottom: 75px;
}

.app-con-head{
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
    margin-bottom: 40px;
}

.app-customer-say{
    background: #fff;
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px 20px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
    border-radius: 3px;
    animation: in-out 2s forwards;
    margin-bottom: 20px;
}

.app-customer-say-img img{
    width: 140px;
    height: 140px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    border:1px solid #dddddd;
}

.app-customer-say-content{
    font-size:20px;
    line-height: 33px;

}

.app-footer-guide{
    padding: 20px 0;
    background: linear-gradient(154deg, #3c763d 0%,#2b542c 100%);
}




.app-more-margin{
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-video{
    padding-top: 50px;
    padding-bottom: 50px;
}

.app-font-head{
    color: #2b542c;
    font-weight: 300;
}

.app-com:hover{
    cursor: pointer;
}

.app-com-fix{
    position: fixed;
    right: 10px;
    bottom: 0px;
    z-index: 2147483000;
}

.app-com-icon{
    padding-right:0px;
    padding-bottom: 20px;
}

.app-com-content{
    width: 180px;
    height: 380px;
    border-bottom-right-radius: 27px;
    display: none;

}

.app-com-section{
    margin-bottom: 30px;
}

.app-to-top{
    margin-top: 52px;
}

.app-right-bar{
    color:#3c763d;
    background: #fff;
}

.app-line-green{
    border-top-color: #2b542c;
    margin-bottom: 5px;
}

.app-about-section{
    margin-bottom: 25px;
}

.app-about-section h1{
    margin-bottom: 20px;
}
.app-about-section p{
    padding: 5px;
}

.app-normal-list{
    padding-left:8px;
    list-style: none;
}



.app-right-bar ul li{
    margin-bottom: 5px;
}

.app-right-bar ul li a{
    color: #2b542c;
}

.placeholder{
    position: absolute;
    display:block;
    width:20px;
    height:65px;
    top: -65px;
}

.target {
  position: relative;
}

.app-right-section{
    margin-bottom: 40px;
}

.app-detail-head{
    text-align: center;
}

.app-detail-date{
    text-align: center;
}


.app-bg{
    padding-bottom: 40px;
    background: repeating-linear-gradient(-55deg,#f2f2f2,#f2f2f2 1px,#fff 1px,#fff 7px);
    background: -webkit-repeating-linear-gradient(145deg,#f2f2f2,#f2f2f2 1px,#fff 1px,#fff 7px);
}




.app-search{
    display: none;
    padding-left: 0px;
    padding-right: 0px;
}

.app-search-btn{
    background-color: transparent;
    border-color: transparent;
    color: #777;
}

.app-search-btn:hover{
    background-color: transparent;
    border-color: transparent;
    color: #333;
}

.app-customer-say-content p{
    text-align:Justify;
    text-justify:inter-ideograph;
    padding-left: 165px;
    padding-right: 20px;
    line-height: 40px;
}

.app-customer-say-content-re{
    padding-left: 165px;
    padding-right: 20px;
}

.app-full-star{
    color: gold;
}

.app-icon-down-container:hover{
    padding-top: 20px;
    padding-bottom: 0px;
}

.app-icon-down-container{
    color: white;
    padding-top: 0px;
    padding-bottom: 20px;
    -webkit-animation:forward-back 0.5s infinite alternate linear;
    -o-animation:forward-back 0.5s infinite alternate linear;
    animation:forward-back 0.5s infinite alternate linear;
}
.app-about-what ul li{
    padding: 20px 60px;
    display: inline-block;
}

.app-about-what ul li p{
    padding: 10px;
    font-size: 20px;
}

.app-about-what ul li img{
    width: 400px;
}

.app-about-what ul{
    list-style: none;
    display: block;
    margin-top: 40px;
}

.app-video-content{
    position: relative;
}
#app-say-2{
    display: none;
    animation-duration: 2s;
}
.preload-image img{
    width: 900px;
}
.preload-image{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.app-video-content h2{
    margin-bottom: 40px;
}

.app-footer-guide-list h4{
    color: white;
    font-size: 19px;
    margin-bottom: 15px;
}

.app-footer-guide-list h4:hover{
    cursor: default;
}

.app-footer-guide-list ul{
    padding-left: 0px;
    list-style: none;
}
.app-footer-guide-list ul li{
    padding-left: 0px;
    margin-bottom: 10px;
}

.app-footer-guide-list ul li a{
    /*text-decoration: none;*/
    color: white;
}


.app-footer-guide{
    font-size: 16px;
}

.app-contact-icon-list{
    display: block;
}

.app-contact-icon-list li{
    display: inline-block;
    padding-right: 12px;
}

.app-icon-white{
    color: white;
}

.app-footer-name{
    margin-top: 12px;
    margin-bottom: 16px;
}
.app-footer-name p{
    color: white;
    font-size: 14px;
}
.app-footer-name p:hover{
    cursor: default;
}

.app-about-section p{
    font-size: 16px;
    text-align:Justify;
    text-justify:inter-ideograph;
    line-height: 30px;
}

.app-about-com-img img{
    width: 460px;
}
.app-about-com-img{
    float: right;
}

.app-about-com-text{
    float: none;
    font-size: 16px;
    line-height: 30px;
    padding-left: 0;
}

.app-com-readmore{
display: none;
}

.app-about-com h2{
    padding-left: inherit;
    margin-bottom: 20px;
}

.app-about-com{
    margin-bottom: 20px;
}

.app-about-static{
    background: lightgoldenrodyellow url("img/background.jpg");
    padding: 20px 20px 70px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-about-culture{
    margin-bottom: 60px;
}

.app-about-culture-row{
    padding-top: 20px;
    padding-bottom: 20px;
}

.app-slice-init{
    animation: slice-to-init 2s forwards;
}

.app-news-img{
    background: url('img/news-img.jpg');
    height: 750px;
}

.app-new-bar{
    margin-top: -100px;
}

.app-new-bar-li{
    color: white;
    height: 100px;
    text-align: center;
    background: #006597;
    padding-top: 10px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.app-new-bar-li:hover{
    background: #004584;
    cursor:pointer;
}

.app-new-bar-list .app-active{
    background: #004584;
}

.app-new-bar{
    background: rgba(0,101,151,0.7);
}

.app-news-bar-list{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #666666;
    color: white;
    display: none;
}

.app-news-top{
    padding-top: 40px;
    padding-bottom: 60px;
    background: #f7f7f7;
}

.app-news-top-img{
    float: right;
}

.app-news-top-img img{
    width: 400px;
}

.app-news-list-bar{
    background: #464646;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}


.app-news-flow a{
    color: white;
}

.app-news-list{
    padding: 20px 0;
}

.app-news-list .container h2{
    margin-bottom: 40px;
}

.bg-gray{
    background: #f7f7f7;

}

.app-news-container{
    background: white;
    border: 1px solid #c7c7c7;
    width: 340px;
}

.app-news-list-container{
    list-style: none;
    display: block;
    padding-left: 0px;
}

.app-news-container{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 40px;
    vertical-align:top;
}

.app-news-container img{
    height: 260px;
    width: 338px;
    overflow: hidden;
}


.app-news-text{
    padding: 15px;
}

.app-news-text-more{
    font-size: 14px;
    padding-left: 7px;
}

.app-news-date{
    color: grey;
    padding-bottom: 20px;
}


.app-news-pageguide{
    text-align: center;
}

.app-news-bar-date{
    list-style: none;
    font-size: 16px;
    padding-left: 0px;
}
.app-news-bar-date li{
    padding-bottom: 5px;
}

.app-news-bar-date li a{
    color: white;
    padding-left: 5px;
}
.app-news-bar-date li a:hover{
    color: white;
}

.app-detail-content{
    font-size: 18px;
    line-height: 34px;
    text-align:Justify;
    text-justify:inter-ideograph;
}

.app-detail-con{
    margin-top: 20px;
    margin-bottom: 20px;

}

.app-detail-con-btn{
    margin-bottom: 8px;
    padding-left: 15px;
}
.app-detail-con-btn a{
    font-size: 15px;
}

.app-detail-bar{
    position: fixed;
    right: 0px;
    top:0;
    background: #f7f7f7;
    width: 300px;
    z-index: 2047483000;
    border: 1px solid #2b542c;
    visibility: hidden;
    /*transform: scale(1);*/
    animation-fill-mode: forwards;
    max-height: 100%;
    box-shadow: -2px 4px 1px rgba(0,0,0,.08)
}

.app-detail-bar-header{
    padding-top: 10px;
    height: 50px;
    background: white;
    text-align: center;
    border-bottom: 1px solid #2b542c;
    font-size: 18px;
    box-shadow: 0 2px 1px rgba(0,0,0,.08);
}

.app-detail-bar-list ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.app-detail-bar-list ul li{
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2b542c;
}

.app-detail-bar-list ul li:hover{
    cursor: pointer;
    background: #ffffff;
}

.app-detail-bar-list ul li i{
    padding-left: 10px;
    padding-right: 10px;
}

.app-detail-bar-list{
    /*padding-bottom: 40px;*/
}

.app-detail-bar-more{
    text-align: center;
    font-size: 18px;
    padding-bottom: 6px;
    padding-top: 6px;
    background: #3c763d;
    color: white;
}

.app-detail-bar-more:hover{
    cursor: pointer;
}

.app-detail-share-list{
    list-style: none;
    display: block;
    padding-left: 0;
    margin-bottom: 15px;
}
.app-detail-share-list li{
    display: inline-block;
    color: white;
    border-radius: 50%;
    padding: 3px 5px;
}

.app-contact-header{
    background: url("img/contact_us.png") 100% 50% no-repeat;
    height: 300px;
    border-bottom: 1px solid #e3e3e3;
}

.app-contact-headline{
    padding-top: 75px;
    font-size: 30px;
}

.app-contact-section{
    padding-top: 20px;
    font-size: 23px;
    padding-bottom:20px;
    border-bottom: 1px solid #EBEBEB;
}

.app-contact-buy-list li{
    padding: 5px 0;
    font-size: 16px;
}

.app-contact-phone-list{
    padding-top: 5px;
}

.app-contact-phone-list li{
    padding: 0px;
}

.app-contact-seller-more{
    font-size: 16px;
    text-align: right;
}

.app-product-head{
    background: #e6d4ae;
    transition: background ease 1s;
    margin-bottom:20px;
    position: relative;
}

.app-product-bar-container{
    position: absolute;
    top: 0;
    left: 15px;
    height: 600px;
    background: white;
}

.app-product-type-list{
    list-style: none;
    padding-left: 0;
}
.app-product-type-list li{
    background: white;
    font-size: 16px;
    position: relative;
    height: 60px;
    width: 220px;
    padding-top: 8px;
    padding-left: 20px;
}

.app-product-type-list li:hover{
    background: #f7f7f7;
}

.app-product-type-sidebar{
    position: absolute;
    left: 124px;
    top: 0;
    display: none;
}

.app-product-type-sidebar ul{
    list-style: none;
    padding-left: 0;
}

.app-product-type-list > li > a{
    color: #000;
}
.app-product-type-list > li > p > a{
    color: grey;
    font-size: 14px;
}

.app-product-section{
    margin-bottom: 20px;
}

.app-product-section-head img{
    width: 100%;
    height: 100px;

    border: 1px solid #f7f7f7;
    box-shadow: 1px 1px 1px #e3e3e3;
}

.app-product-section-list ul{
    list-style: none;
    padding-left: 0;
}
.app-product-section-list ul li{
    float: left;
}

.app-product-panel{
    border: 1px solid #f7f7f7;
     position: relative;
}

.app-product-container{
    width: 378px;
    height: 280px;
    background: white;
    border: 4px solid #fff;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -ms-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;

}

.app-product-label{
    left: 0;
    top: 0;
    position: absolute;
}

.app-bg-fa-1{
    background: #f8f8f8;
    border-color: #f8f8f8;
}

.app-bg-fa-2{
    background: #fffce7;
    border-color: #fffce7;
}

.app-bg-fa-3{
    background: #e2f9fb;
    border-color: #e2f9fb;
}



.app-product-container:hover{
    border: 4px solid #5cb85c;
}

.app-product-container .img-container img{
    width: 140px;
    height: 210px;
}

.app-product-container .img-container{
    padding: 25px;
    float: left;
}
.app-product-container .text-container{
    padding-top: 30px;
    padding-right: 0px;
}

.app-product-container .text-container h4{
    font-size: 22px;
    padding-bottom: 15px;
}

.app-product-detail{
    height: 60px;
}

.app-product-detail p{
    color: #777;
    font-size: 14px;
}

.app-product-price{
    color: darkred;
    font-size: 26px;
}

.app-product-footer-main{

}

.app-product-footer-main ul{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: block;
}



@media (max-width: 750px) {
    .app-product-footer-main ul li{
    display: inline-block;
    width: 49.5%;
}
}

@media (min-width: 651px){
    .app-product-footer-main ul li{
    display: inline-block;
    width: 24.5%;
}
}

.app-product-footer-container{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

/*todo*/
@media (min-width:400px) and (max-width:770px){
    .app-product-type-list li{
    }
}


.app-carousel-list{
    padding-left: 0;
    margin-bottom: 0;
    max-height: 450px;
    overflow: hidden;
}

.app-carousel-list li{
    display: none;
}

.app-carousel-content .container{
    position: relative;
}

.app-carousel-list .app-active{
    display: block;
}

.app-carousel-content .img-container img{
    width: 100%;
}

.app-carousel-content .text-container{
    position: absolute;
    right: 40px;
    top: 50%;
    color: white;
    padding: 20px 40px;
    background: rgba(0,0,0,0.4);
}

.app-carousel-indicator-list{
    list-style: none;
    padding-left: 0;
    display: block;
}

.app-carousel-indicator-list li{
    display: inline-block;
}

.app-carousel-indicator-point{
    border: 1px white solid;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.app-carousel-indicator-point:hover{
    cursor: pointer;
}

.app-carousel-indicator-list .app-active{
    background: white;
}

.app-carousel{
    position: relative;
}

.app-carousel .app-carousel-indicator{
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.app-carousel-indicator-list{
    text-align: center;
}

.app-product-type-sidebar li{
    background: #f7f7f7;
    width: 140px;
    padding: 0 0;
}

.app-product-type-sidebar li a{
    display: block;
    padding: 20px 20px;
    text-align: center;
}
.app-product-type-sidebar li:hover{
    background: #f0f0f0;
}

.app-people-list{
    list-style: none;
    padding-left: 0;
}

.app-people-container{
    margin-bottom: 40px;
}

.app-people-container .img-container{
    overflow: hidden;
    width: 185px;
    height: 250px;
    border-radius: 20%;
    padding: 0;
    margin:0 5px;
}

.app-people-container .img-container img{
    width: 200px;
    height: 280px;

}



.app-people-container .text-container p{
    line-height: 27px;
    padding-left: 6px;
    text-align:Justify;
    font-size: 16px;
}
.app-people-container .text-container h2{
    margin-top: 10px;
}
.app-people-container .subject-container h4{
    margin-bottom: 25px;
}

.subject-container p{
    font-size: 16px;

}

.grey-line{
    border-top: 1px #e3e3e3 solid;
}

.app-people-head{
    background: #2e6da4;
    padding-bottom:30px;
    color: white;
}

.app-people-head .text-container{
    margin: 20px 50px;
    font-size: 16px;
    line-height: 30px;
}

.app-people-head .img-container img{
    width: 300px;
    margin-left: 30px;
    border-radius: 10px;
}

.app-people-head .img-container{
    float: right;
}

.app-news-flow ul{
    list-style: none;
    margin-bottom: 0;
}

.app-news-flow li{
    display: none;
    font-size: 18px;
    margin-top: 2px;
}

.app-news-list-head{
    list-style: none;
    padding-left: 0;
    display: block;
}

.app-news-list-head li{
    display: inline-block;
    margin: 3px 5px;
    /*border: 1px black solid;*/
    /*background: #464646;*/
    /*color: white;*/
    font-size: 22px;
    padding: 10px;
    border-radius: 4px;
}
.app-news-list-head li:hover{
    background: white;
}

.app-news-list-head .app-active{
    background: white;

}
.app-news-list-head{
    margin-bottom: 25px;
}

.app-news-flow .app-active{
    display: block;
}

.animation-move-up{
    animation: move-up 0.5s forwards;
}

.animation-move-down{
    animation: move-down 0.5s forwards;
}
#bar_search{
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: transparent;
}
#bar_search:hover{
    background: #ddd;
}
.app-product-archive-bar{
    background: #333;
}
.app-product-archive-bar-list{

    color: white;
    display: block;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 16px;
    height: 40px;
}


.app-product-archive-bar-list li{
    float: left;

}
.app-product-archive-bar-list li:hover{
    background: black;
}
.app-product-archive-bar-list li a{
    color: white;
    height: 40px;
    line-height: 40px;
    padding: 10px 30px;
    text-decoration: none;
}

.app-product-archive-selector-list{
    display: block;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.app-product-archive-selector-list li span{
    margin-left: 5px;
}

.app-product-archive-sublist{
    list-style: none;
    padding-left:80px;
    display: none;
}

.app-product-archive-sublist li{
    /*text-align: center;*/
    display: inline-block;
    margin: 10px 10px;
}

.app-product-archive-sublist li a{
    color: #999;
    text-decoration: none;
}
.app-product-archive-sublist li a:hover{
    color: #666;
}


.app-product-archive-sublist .app-active a{
    color: darkred;

}
.app-product-archive-sublist .app-active:hover{
    color: darkred;
}


.app-product-archive-selector-list li{
    display: inline-block;
    margin: 10px 10px;
    color: #999;
}
.app-product-archive-selector-list li a {
    color: #999;
    text-decoration: none;
}

.app-product-archive-selector-list li a:hover{
    color: #666;
}

.app-product-archive-selector-list .app-active a{
    color: darkred;
}
.app-product-archive-selector-list .app-active a:hover{
    color: darkred;
}

.app-product-archive-selector-list .app-active span{
    color: darkred;
}

.app-product-archive-selector-list .app-active:hover{
    color: darkred;
}

.app-product-archive-selector-section{
    border-bottom: 1px #dedede solid;
    margin-bottom: 0;
}
.app-product-archive-selector{
    border: 1px #dedede solid;
    margin-top: 10px;
    margin-bottom: 20px;
}

.app-product-archive-bar-selector-header{
    width: 80px;
    padding: 10px 10px;
    text-align: right;
}

.app-product-archive-list .img-container img{
    width: 160px;
    height: 190px;
    margin: 15px 25px;

}

.app-product-archive-list{
    display: block;
    list-style: none;
    padding-left: 0;
}
.app-product-archive-list li{
    border: 1px solid #dedede;
    /*display: inline-block;*/
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.app-product-archive-list li:hover{
    border-color: darkred;
}

.app-product-archive-list li .text-container{
    text-align: center;
}

.app-product-archive-list li .price-container{
    text-align: center;
    color: darkred;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-product-archive-list li .btn-container{
    border-top: 1px solid #dedede;
    text-align: center;
    padding: 5px;
    color: darkred;
    float: left;
    width: 50%;
    border-right: 1px solid #dedede;
}

.app-product-archive-list li .buy-container{
    text-align: center;
    border-top: 1px solid #dedede;
    padding: 5px;
}


.app-product-archive-list li .btn-container:hover{
    color: white;
    background: darkred;
}

.app-product-archive-list{
    margin-right: -20px;
}

.app-product-archive-subcontainer .app-active{
    display: inline-block;
}

.product-detail-img{
    text-align: center;
    border: 1px solid #e3e3e3;
}
.product-detail-img > img{
    width: 300px;
    height: 400px;
    margin: 40px 130px;
}

.product-detail-header{
    margin-top: 20px;
}
.product-detail-select{
    border: 1px solid #e3e3e3;
}

.product-detail-select div{
    padding-left: 25px;
}

.product-detail-select .product-header{
    margin-bottom: 20px;
}

.product-detail-select .product-summery{
    font-size: 18px;
    height: 80px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
    color: #c81118;
}

.product-detail-select .product-price{
    color: #c81118;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 10px;

}
.product-detail-select .product-price span{
    font-size: 14px;
    color: #333;
}
.product-detail-select .product-pic-list{
    margin-top: 20px;
}
.product-pic-list ul li:hover{
    border-color: darkred;
    cursor: pointer;
}

.product-detail-select .product-service{
    padding-bottom: 10px;
}

.product-detail-select .product-type{
    padding-bottom: 25px;
    border-bottom: 1px solid #e3e3e3;
}
.product-pic-list ul li img{
    width: 40px;
    height: 50px;
}

.product-pic-list ul{
    list-style: none;
    padding-left: 0;
    display: block;
}

.product-pic-list ul li{
    display: inline-block;
    border: 1px #e3e3e3 solid;
    padding: 8px 12px;
    margin-right: 10px;
}

.product-detail-select .product-btn{
    margin-bottom: 30px;
}

.product-detail-select .product-number{
    margin-top: 20px;
    margin-bottom: 50px;
}



.box-re{
    border: 1px #e3e3e3 solid;
    padding: 5px 10px;
    margin-left: 4px;
    margin-right: 4px;
}
.box-container a{
    text-decoration: none;
    color: #333;
}
.buy-btn{
    color: white;
    background: #e01d20;
    padding: 10px 20px;
    border: none;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 20px;
}

.buy-btn:hover{
    background: darkred;
}


.product-detail-content{
    margin-top: 20px;
}

.product-detail-bar{
    background: #f7f7f7;
}



.product-detail-bar ul{
    list-style: none;
    padding-left: 0;
    display: block;

}

.product-detail-bar ul li{
    display: inline-block;
    font-size: 16px;
    padding: 10px 18px;
    background: white;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid white;
    border-bottom: 1px solid #e3e3e3;
}

.product-detail-bar ul .app-active{
    border-bottom: 1px solid white;
    border-top: 1px solid #e01d20;
}

.product-detail-container{
    border: 1px solid #e3e3e3;
}

.product-detail-recommend > .text-container{
    font-size: 16px;
    padding: 10px 18px;
    background: #f7f7f7;
}

.product-detail-recommend{
    border: 1px solid #e3e3e3;
}

.product-detail-recommend-list{
    list-style: none;
    padding-left:0;
    margin-bottom: 0;
}

.product-detail-recommend-list li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
}

.product-detail-recommend-list li img{
    width: 40px;
    height: 50px;
    margin-left: 10px;
    margin-right: 20px;
    float: left;
}

.product-detail-recommend-list li{
    height: 70px;
}

.product-detail-recommend-list li a{
    color: #333;
}

.product-detail-recommend-list li .text-container{
    margin-left: 70px;
    width: 70px;

}

.product-detail-recommend-list li .price-container{
    color:darkred;
}

.product-detail-content-container{
    margin-left: 20px;
}

@media (max-width: 990px) {
    #suiyuan-video{
        width: 600px;
    }
    .preload-image img{
        width: 600px;
    }
}

@media (max-width: 700px){
    .app-carousel-content .text-container{
        display: none;
    }
}

.profile-bg{
    background: #f5f5f5;
    margin-bottom: -130px;
    padding-bottom: 10px;
}

.my-order-container{

}

.my-order-container h4{
    width: 100%;
    color: #333;
    background: white;
    padding: 20px 20px;
    border-radius: 5px;
}

.my-order-panel{
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.panel-header ul{
    margin: 0;
    padding: 0;
    display: block;
}

.panel-header ul li{
    display: inline-block;
    margin: 0 5px;
}
.panel-header ul .selected{
    border-bottom: 2px solid #449d44;
}
.panel-header ul .selected a{
    color: #449d44;
}
.panel-header ul li a{
    text-decoration: none;
    color: #333;
}

.panel-header ul li a:hover{
    color: #449d44;
}

.order-panel-header{
    background: #e3e3e3;
    height: 30px;
    margin: 10px;
    width: 98%;
}


.my-order-list{
    padding: 0;
    margin: 10px 0;
    display: block;
    list-style: none;
}

.myorder-detail .header{
    background: #e3e3e3;
    height: 30px;
    line-height: 29px;
    padding-left: 10px;
    border-radius: 3px;
}

.myorder-detail{
    border: 1px solid #f7f7f7;
    margin: 10px;
}
.myorder-detail table{
    width: 100%;
}
.myorder-header-detail{
    width: 50%;
}
.myorder-header-name{
    width: 15%;
}
.myorder-header-price{
    width: 15%;
}
.myorder-header-status{
    width: 15%;
}

.order-detail-row{
    height: 100px;
}

.myorder-header-detail img{
    width: 40px;
    height: 60px;
    border: 1px solid #f7f7f7;
    float: left;
    margin-right: 20px;
}
.border-bottom{
    border-bottom: 1px solid #f7f7f7;
}
.border-left{
    border-left: 1px solid #f7f7f7;
}

.order-detail-row .myorder-header-detail{
    padding-left: 20px;
    padding-top: 10px;
}

.myorder-detail-count{
    margin-left: 50px;
}

.order-detail-row td{
    border: solid 1px #f7f7f7;
}

.float-div-container{
    position: relative;
    display: none;
}

.float-div-container .float-div{
    position: absolute;
    border: 1px solid #e3e3e3;
    left: -150px;
    top: -70px;
    background: white;
    border-radius: 5px;
    text-align: left;
    padding: 15px;
    width: 180px;
}

.myorder-detail-address:hover{
    cursor: pointer;
}

.my-address-container{
    background: white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel-white-radis{
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    padding: 7px 20px;
}


.sep{
    margin: 10px;
    border-bottom: 1px dashed #449d44;
}

.order-detail-list .total-price{
    margin-top: 50px;
    text-align: right;
    color: darkred;
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.quick-buy{
    color: white;
    background: darkred;
    margin-left: 105px;
    cursor: hand;
}
.data-circle{
    width: 300px;
    height:300px;
}

.data-container{
    text-align: center;
    font-size: 22px;
}
.data-container img{
    margin-bottom: 40px;
}
.app-about-culture-row img{
    width: 200px;
    height: 150px;
    float: left;
    margin: 15px;
}

.order-payment{
    border: 1px solid #f7f7f7;
    padding: 15px 0 15px 15px;
    margin-top: 20px;
}

.order-payment-list{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: block;
    margin-top: 15px;
}
.order-payment-list li{
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid #e3e3e3;
    margin-right: 15px;
    cursor: pointer;
}

.order-payment-list .pay-selected{
    border: 2px solid #449d44;
}

.app-product-banner{
    width: 80px;
    height: 70px;
    position: absolute;
    top: 0;
    left:0;
}

.app-product-bar-red{
    width: 220px;
    background: rgb(200, 17, 24);
}

@media (max-width: 475px){
    .app-product-bar-red{
        width: 150px;
    }
    .reveal-modal{
        left: 350px !important;
        width: 300px !important;
    }
    .myorder-detail .header{
     height: 60px;
    }
    .address-name{
        display: none;
    }
    .address-long{
        display: none;
    }
    .address-cellphone{
        display: none;
    }
    .product-detail-img > img{
    width: 280px;
    height: 380px;
    margin: 40px 0;
}
}

.position-locate{
    margin-left: 5px;
    cursor: pointer;
}
.qrcode{
    width: 110px;
    height: 110px;
}
.container-404-section{
    background: white;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 20px;
}
.product-show-row{
    list-style: none;
    margin-top: 20px;
}
.product-show-row li{
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
}
.product-show-row > li img{
    height: 150px;
}
.product-show-row > li > h4{
    text-align: center;
}
.product-show-row > li > p{
    text-align: center;
    font-size: 20px;
    color: darkred;
}

.news-show-row li a{
    font-size: 16px;
    color: #333;
}
.news-show-row li a:hover{
    color: darkred;
    text-decoration: none;
}

.return-btn{
    padding: 10px 25px;
    font-size: 18px;
    background: #449d44;
    color: white;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    margin-top: 5px;

}
.return-btn:hover{
    background: darkgreen;
}

.search-header{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 20px;
    background: white;
    border-radius: 5px;
}

.search-result-section{
    padding: 5px 20px;
    border-radius: 5px;
    background: white;
    margin-bottom: 20px;
}
.search-result-list-news a{
    text-decoration: none;
    color: #333;
}

.search-result-list-news a:hover{
    color: darkred;
}
.search-text{
    text-align: center;
    font-size: 20px;
}

.search-text input{
    border: 1px #e3e3e3 solid;
    border-radius: 0;
}

.search-header{
    padding-top: 20px;
}
