{% extends "base.html" %}
{% block content%}
{% load staticfiles %}
<div class="app-to-top">
<div class="container">
        <div class="row">
        <h4>首页 > 公司介绍</h4>
        <div class="app-about-com">
        <h2>公司介绍</h2>
        <div class="col-md-5 app-about-com-img">
            <img src='{% static "img/about-photo.jpg" %}' alt="">
        </div>
        <div class="col-md-12 app-about-com-text">
           <p>广东穗源农业科技股份有限公司于2010年开始筹建，2011年正式注册成立，注册资本3160万元。是一家集农产品种植、加工、销售、技术服务为一体的新兴现代化农业企业。公司坐落于以“中国优秀旅游城市、漂流之乡”著称的清远市清新区，南靠北架山，环境优美，北临清连一级高速公路，交通便利。
公司被评为“清远市重点农业龙头企业”、“清新区重点农业龙头企业”、“粮食应急加工企业”、“粮食应急储运企业”、“粮食应急配送中心”、“消费者信赖品牌”、“广东省守合同重信用企业”、“农业产业化经营专业大户”，是《广东农业》常务理事单位。</p><p>公司拥有优秀的管理团队和多方面的技术人员，包括水稻种植技术专家教授、农机械资深技术人员、大米和食用油加工技术人员等。公司积极与华南农业大学等高校合作，还专门聘请华南农业大学的专家教授担任顾问，进行优质粮油生产、加工、仓储和销售等技术的科学指导工作，形成了优势互补的产学研一体化专业团队，为公司发展提供了可靠的基础保障。</p>
           <div class="app-com-readmore">
           <p>公司以丰富的成果产出为依托，不断加强产、推、加、销体系建设，并制定、实施了严格的产品生产标准，形成了较为完善的质量保障体系和示范推广服务体系。公司具有良好的企业运营和管理机制，是一个社会责任感强、具有丰富科技企业经营管理经验、充满创新精神和市场开拓活力的团队。</p>
           <p>广东穗源农业科技有限公司将以现代生态农业产业化经营的科学管理体系，持续长效发展的创新模式，将不断加强优化产业结构，加快规模扩张，合理科学开发现有资源，从而不断提高企业核心竞争力，将建设广东省、全国乃至国际标准化、机械化、规模化、产业化、多元化的品牌粮油企业。</p></p>
               </div>
           <div class="app-about-com-con">
               <a href="javascript:void(0)">
                   <i class="fa fa-plus"></i>
                   <span>展开</span>
               </a>

           </div>
        </div>

</div>
</div>
</div>
</div>
<div class="app-about-static">
    <div class="container">
        <div class="center" style="margin-bottom: 20px">
            <h2>穗源2015年年报</h2>
        </div>
        <div class="row data-container" style="text-align: center">
        <div class="col-md-4">
            <img src="{% static 'img/data-get.png' %}" class="data-circle" alt="">
            <div>营业收入</div>
        </div>
        <div class="col-md-4"><img src="{% static 'img/data-get-2.png' %}" class="data-circle" alt="">
        <div>纯利润</div></div>
        <div class="col-md-4"><img src="{% static 'img/data-get-3.png' %}" class="data-circle" alt="">
        <div>同比增长</div></div>
        </div>
    </div>
</div>
<div class="app-about-culture" id="about-culture">
<div class="container">
    <div class="row app-about-culture-row">
        <div class="col-sm-6">
            <img src="{% static 'img/about-1.jpg' %}" alt="">
            <div class="text-container">
                <h3>价值主张</h3>
                <p>为适应农业现代化的要求，穗源紧密围绕消费者和农民的需求和利益，以创新的技术和方法，持开放的态度，
                为带来更好的产品和更佳的经营模式。</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/about-2.jpg' %}" alt="">
            <div class="text-container">
                <h3>财务概要</h3>
                <p>2015年，穗源在现代农业赢得跨步式发展中，成功在消费领域占领空间。穗源成功实现营收2881万元，纯利润278万元，同比增长20%。</p>
            </div>
        </div>
        </div>
    <div class="row app-about-culture-row">
        <div class="col-sm-6">
            <img src="{% static 'img/about-3.jpg' %}" alt="">
            <div class="text-container">
                <h3>技术研发</h3>
                <p>穗源拥有强大的技术团队，在育种、营养培育、害虫治理、现代化农业等方面技术领先。目前，我们的技术团队仍在不断壮大中。</p>
            </div>
        </div>

        </div>
    </div>

</div>
</div>
{#<div class="app-about-timeline">#}
{#    <div class="container">#}
{#        <div class="center">#}
{#            <h2>穗源大年事表</h2>#}
{#        </div>#}
{#        <div></div>#}
{#    </div>#}
{#</div>#}
    <script>
        $('#bar_about').addClass('app-active');
    </script>
{% endblock %}