{% extends "base.html" %}
{% block content %}

<div class="app-contact-header">
    <div class="container">
        <div class="app-contact-headline">联系穗源</div>
    </div>
</div>
<div class="app-contact-main">
<div class="app-contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                产品购买及咨询
            </div>
            <div class="col-md-8">
                <ul class="app-normal-list app-contact-buy-list">
                    <li><strong>穗源商城</strong><p>访问<a href="/products">穗源商城</a>查看购买粮油、礼盒套装等产品。</p></li>
                    <li><strong>查找零售店</strong><p>通过查找<a href="#coo-list">零售店</a>，了解离你最近的零售店信息。</p></li>
                    <li>
                        <strong>电话咨询热线</strong>
                        <ul class="app-contact-phone-list app-normal-list">
                            <li><p><i class="fa fa-phone"></i>  0763-5851836（座机）</p></li>
                            <li><p><i class="fa fa-phone"></i>  13828552207（李小姐）</p></li>
                            <li><p><i class="fa fa-phone"></i>  13828551237（冯小姐）</p></li>
                            <li><p><i class="fa fa-clock-o"></i>  周一至周日 08:00-18:00</p></li>
                        </ul>
                    </li>
                    <li><strong>在线服务</strong>
                        <p><i class="fa fa-qq"></i> 客服1  <i class="fa fa-qq"></i> 客服2</p>
                    </li>
                    <li><strong>邮件支持</strong><p><i class="fa fa-envelope"></i> buy@qysyny.cn</p></li>

                </ul>
            </div>
        </div>

    </div>
</div>

<div class="app-contact-section" id="contact-coo">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                企业合作与经销加盟
            </div>
            <div class="col-md-8">
                <ul class="app-normal-list app-contact-buy-list">
                    <li>
                        <strong>电话咨询热线</strong>
                        <ul class="app-contact-phone-list app-normal-list">
                            <li><p><i class="fa fa-phone"></i>  0763-5851836（座机）</p></li>
                            <li><p><i class="fa fa-fax"></i>  0763-5851826（传真）</p></li>
                            <li><p><i class="fa fa-phone"></i>  13825882207（李小姐）</p></li>
                            <li><p><i class="fa fa-clock-o"></i>  周一至周日 08:00-18:00</p></li>
                        </ul>
                    </li>
                    <li><strong>邮件支持</strong><p><i class="fa fa-envelope">cooperation@qysyny.cn</i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="app-contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                公司地址
            </div>
            <div class="col-md-8">
                <ul class="app-normal-list app-contact-buy-list">
                    <li><a href="http://map.baidu.com/?newmap=1&s=inf%26uid%3D87802106c61ae98c5cd4fe83%26wd%3D%E7%A9%97%E6%BA%90%E5%86%9C%E4%B8%9A%26all%3D1%26c%3D197&from=alamap&tpl=map_singlepoint" style="color: #333">
                        <i class="fa fa-map-pin">  清远市清新区太和镇107国道北396号<br></i></a><br><br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="app-contact-section" id="coo-list">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                经销商列表
            </div>
            <div class="col-md-8">
                待添加
{#                <ul class="app-normal-list app-contact-buy-list" id="coo-list">#}
{#                    <li><strong>清远</strong>#}
{#                        <ul>#}
{#                        <li>清远市清新区太和真。。。。。</li>#}
{#                        <li>清远市清新区太和真。。。。。</li>#}
{#                        <li>清远市清新区太和真。。。。。</li>#}
{#                        <li>清远市清新区太和真。。。。。</li>#}
{#                        <li>清远市清新区太和真。。。。。</li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li><strong>广州</strong>#}
{#                        <ul>#}
{#                            <li>清远市清新区太和真。。。。。</li>#}
{#                            <li>清远市清新区太和真。。。。。</li>#}
{#                            <li>清远市清新区太和真。。。。。</li>#}
{#                            <li>清远市清新区太和真。。。。。</li>#}
{#                            <li>清远市清新区太和真。。。。。</li>#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
{#                <div class="app-contact-seller-more"><a href="">展开</a></div>#}
            </div>
        </div>
    </div>
</div>
</div>
    <script>
    $('#bar_contact').addClass('app-active');
    </script>
{% endblock %}