{% extends "product_base.html" %}
{% block product_content %}
    <div class="login-bg">
<div class="container">

<div class="login-container">
<div class="login-panel">
<h4>用户登录</h4>
<form action="/buyer/login/" method="POST" id="login-form">
    {% csrf_token %}
    {{ form }}
    <button id="checkcode-btn" class="checked">点击获取验证码</button>
    <input id="redirect_url" type="hidden" value={{ redirect }}>
    <input type="submit" value="登录" id="login-btn">
</form>
</div>
</div>
</div>
    </div>
{% endblock %}