{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="app-to-top app-people-head">
    <div class="container">
    <h3>专家团队</h3>
                <div class="img-container">
            <img src='{% static "img/tech.jpg" %}' alt="">
        </div>
        <div class="text-container">
            <p>全国生物防治（有机、超绿色农业）技术领军人张文庆教授带领的技术团队大多具有国外留学经验，在农业产学研方面具有丰富的经验及社会资源。该团队支撑范围包括生态旅游规划、高品质灵芝猪肉及其高附加值产品开发、有机肥料综合开发利用、高品质稻米及其高附加值产品开发、昆虫蛋白及其高附加值产品开发、岭南特色苗木开发和土壤污染治理与修复技术。</p>
        </div>

        </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="app-people-list">
                    <li class="app-people-container row" style="margin-top: 30px">

                        <div class="img-container col-md-3">
                                <img src='{% static "img/people-1.jpg" %}' alt="">
                            </div>
                            <div class="text-container col-md-7">
                                <h2>张文庆教授</h2>
                                <p>张文庆教授（博士生导师）现任中山大学生命科学大学院副院长，有害生物控制与资源利用国家重点实验室副主任，兼任国家自然科学基金委员会第十三届生命科学部专家评审组成员，中国昆虫学会理事和昆虫生态专业委员会副主任，广东省昆虫学会副秘书长，《环境昆虫学报》副主编，广东省农产品名牌评审专家等。1991年于中山大学获理学博士学位，2001年晋升为教授。曾赴美国康奈尔大学和德国生物防治研究所做访问学者和博士后近3年。2006年入选教育部“新世纪优秀人才”。创新性地提出利用RNAi技术干扰昆虫生长发育来控制害虫，建立了用于昆虫基因功能研究的RNAi技术平台，包括注射法、饲喂法和转基因植物导入法，其中，首次成功利用饲喂法干涉昆虫非中肠基因，拓宽了昆虫基因的高效利用途径。比较系统地研究了昆虫几丁质合成的调控，为利用该通路的关键基因控制害虫奠定基础。长期研究和推广水稻害虫生物防治理论和技术，出版专著《群落重建与水稻害虫生物防治》，建立了稻果菜为主的华南区域害虫生物防治技术示范和推广模式，并大面积推广应用，取得了显著的经济、社会和生态效益。曾主持或参与国家或省部级科研项目60多项，近五年在PLoS ONE、Insect Biochemistry and Molecular Biology、Insect Molecular Biology、BMC Molecular Biology、Developmental & Comparative Immunology等刊物上发表SCI收录论文25篇，获授权国家发明专利5项。</p>
                        </div>
                        <div class="subject-container col-md-2">
                            <h4>研究方向</h4>
                            <p>害虫生物防治</p><p>昆虫资源及其利用</p>
                        </div>
                    </li>
                    <li class="app-people-container row">
                        <hr class="grey-line">
                        <div class="img-container col-md-3">
                                <img src='{% static "img/people-2.jpg" %}' alt="">
                            </div>
                            <div class="text-container col-md-7">
                                <h2>张建国教授</h2>
                                <p>张建国现任华南农业大学作物栽培系高级农艺师，广东粮油学会理事。长期从事超级稻超高产栽培技术研究、有机稻高产栽培技术研究、优质水稻选育研究、超级稻选育研究推广工作，选育出优质超级稻“培杂泰丰”等两个国家审定品种、“华航一号”等14个广东省审定品种，水稻推广面积累计1000多万亩。曾主持或参与国家或省部级科研项目30多项，获得丰收奖三等奖1项，广东省农业科学技术推广一等奖3项，广东省科技进步一等奖1项，“航恢七号”等植物新品种权7个。发表科技论文10多篇。</p>
                        </div>
                        <div class="subject-container col-md-2">
                            <h4>研究方向</h4>
                            <p>饲料加工</p><p>畜产环境</p><p>生物质能转化</p>
                        </div>
                    </li>
                    <li class="app-people-container row">
                        <hr class="grey-line">
                        <div class="img-container col-md-3">
                                <img src='{% static "img/people-3.jpg" %}' alt="">
                            </div>
                            <div class="text-container col-md-7">
                                <h2>柯建浩博士</h2>
                                <p>柯建浩博士任职于中国热带农业科学院，农业部植物育种专家、广东省社会主义新农村试验区技术专家、广东潮汕博士协会执委。2008年毕业于中山大学获理学博士、2009年在新加坡国立大学 从事博士后研究。长期从事绿色水稻及蔬菜选育及高产高效栽培、植物病虫害生物防治，现代生态农业循环及农业市场化方面研究。曾主持或参与国家或省部级科研项目10多项，获广东省农业科学技术推广一等奖1项，科技论文10多篇。</p>
                        </div>
                        <div class="subject-container col-md-2">
                            <h4>研究方向</h4>
                            <p>绿色水稻及蔬菜选育与栽培<p>植物病虫害生物防治</p><p>现代生态农业循环</p><p>农业市场化</p>
                        </div>
                    </li>
                    <li class="app-people-container row">
                        <hr class="grey-line">
                        <div class="img-container col-md-3">
                                <img src='{% static "img/people-4.jpg" %}' alt="">
                            </div>
                            <div class="text-container col-md-7">
                                <h2>唐湘如教授</h2>
                                <p>现任华南农业大学水稻研究室主任，华南农业大学作物栽培学与耕作学专业学科负责人，农业部水稻生产机械化专家组副组长。主要研究领域为水稻品质生理与化学调控、水稻超高产栽培理论与应用。曾主持或参加国家或省部级科研项目70项，获得国家科技进步二等奖2项，教育部技术发明奖一等奖1项，省科技进步一等奖2项，省科技进步四等奖1项，省优秀博士学位论文奖1项，省自然科学优秀论文二等奖1项，省农业技术推广一等奖1项。发表论文100篇，主编或参编著作8本。目前正主持或参加省部级以上科研项目6项。</p>
                        </div>
                        <div class="subject-container col-md-2">
                            <h4>研究方向</h4>
                            <p>水稻品质生理与化学调控</p>
                                <p>水稻超高产栽培理论与应用</p>
                                <p>作物生产信息化与智能化管理</p>
                        </div>
                    </li>
                    <li class="app-people-container row">
                        <hr class="grey-line">
                        <span class="img-container col-md-3">
                                <img src='{% static "img/people-5.jpg" %}' alt="">
                            </span>
                            <div class="text-container col-md-7">
                                <h2>卢小良教授</h2>
                                <p>现任华南农业大学南方草业中心副主任、华南农业大学农学院草业科学系主任、生物能源研究所能源作物研究室主任。在遗传育种和引种研究方面，引种了典型的亚热带优质草种岸杂1号狗牙根、热带草种墨西哥类玉米、矮象草种，研究了玉米属的两个种的遗传特性和远缘杂交优势利用技术，育成品种华农1号青饲玉米，长期进行种间杂种优势利用和光周期对玉米发育生物学的研究。独立完成、主持或参加33项科研课题，获广东省科技进步三等奖1项，农业部科技进步二等奖1项，广西自治区科技进步二等奖1项，广西农业厅科技进步一等奖1项等总计获奖6项，发表论文45余篇，专著3本，编写教材2本。</p>
                        </div>
                        <div class="subject-container col-md-2">
                            <h4>研究方向</h4>
                            <p>遗传育种和引种</p>
                            <p>饲草加工调制和营养价值</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
    <script>
    $('#bar_people').addClass('app-active');
    </script>

{% endblock %}